$bkgdClr: #fcfaf9;
$fontClr: #292929;
$formBkgd: #fdfdfd;
$formShdw: #d1afbe;
$btnClr: #824f6c;
$btnShdw: #d1afbe;
$btnShdw2: #d7828d;
$listShdw: rgb(210, 210, 210);
$listShdw2: rgb(205, 205, 205);

/* 
Colors:
-> Light shades 
Use this color as the background for your dark-on-light designs, or the text color of an inverted design. 
FCFAF9

-> Light accent
Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.
D1AFBE


-> Main brand color
This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
BDA7AF

-> Dark accent
Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
D7828D


-> Dark shades
Use as the text color for dark-on-light designs, or as the background for inverted designs.
824F6C
*/
