@import '_variables';
@import '_form';
@import '_todoList';
@import '_listItem';

.app {
  background-color: $bkgdClr;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding-top: 2rem;
}

.mainH1 {
  font-size: 3rem;
  color: $fontClr;
}

/* 
-FCFAF9
-D1AFBE
-BDA7AF
-D7828D
-824F6C
*/
